@font-face {font-family:'MalgunGothic',sans-serif; src:url(../fonts/MalgunGothic.eot);}

.inner-box{
    width:1260px;
    margin:0 auto;

        &:after{
        display:block;
        content:"";
        clear:both;
    }
}

.common-header{
    position:sticky;
    top:0;
    left:0;
    width:100%;
    height:155px;
    background:#fff;
    z-index:50;
    min-width:1280px;
}

.util-wrap{
    height:99px;
    border-bottom:1px solid #e8e8e8;

    &:after{
        display:block;
        content:"";
        clear:both;
    }

    .logo{
        font-size:0;
        float:left;
        width:160px;
        height:99px;

        &-link{
            display:block;
            width:100%;
            height:99px;
            background:url("../images/main/img_logo.gif")no-repeat;
        }
    }

    .util{
        float:right;
        margin-top:40px;

        &:after{
            display:block;
            content:"";
            clear:both;
        }
    }

    .quick-box{
        float:left;

        &-list{

            &:after{
                display:block;
                content:"";
                clear:both;
            }

            & > li{
                float:left;
                margin-right:20px;
                font-size:0;
            }
        }

        &-link{
            display:block;
            height:100%;
        }
    }

    .login{
        width:158px;
        height:32px;
        float:left;
        margin-right:15px;

        &-wrap{
            height:100%;
            line-height:32px;
            padding-left:37px;
            box-sizing:border-box;
            background:url("../images/main/bg_login_off.png")no-repeat;
            border-right:1px solid #d5d7d9;

            &:after{
                display:block;
                content:"";
                clear:both;
            }

            .bar{
                background:url("../images/main/ico_login_bar.gif")no-repeat right;
                padding-right:12px;
            }

            & span{
                float:left;

                &:nth-child(2){
                    margin-left:14px;
                }
            }
        }

        &-link{
            font-size:11px;
            display:inline-block;
            height:100%;
        }
    }

    .search-box{
        width:190px;
        height:32px;
        position:relative;
        float:left;

        .input-search{
            border:0;
            padding:0 0 0 12px;
            box-sizing:border-box;
            font-size:11px;
            font-family:'Arial',sans-serif;
            width:100%;
            height:100%;
            background:url("../images/main/bg_search_box.gif")no-repeat;

            &::-webkit-input-placeholder{
                color:#a1a5a8;
                font-weight:bold;
            }
        }

        &-btn{
            width:57px;
            height:32px;
            border:0;
            padding:0;
            position:absolute;
            top:0;
            right:0;
            background:url("../images/main/btn_search.gif")no-repeat;
            cursor:pointer;
        }
    }
}

.gnb-wrap{
    height:54px;
    border-bottom:1px solid #e8e8e8;
    z-index:5;
    position:relative;
    text-align:center;
}

.gnb{
    height:54px;
    z-index:4;
    display:inline-block;
    margin-top:-1px;

    &-depth1{

        &:after{
            display:block;
            content:"";
            clear:both;
        }

        & > li{
            float:left;
        }

        &-link{
            display:block;
            height:54px;
            position:relative;

            &:before{
                display:block;
                content:"";
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:url("../images/main/gnb_1depth.png")no-repeat;
            }

        }

        .menu1{
            width:107px;

            &.on{
                &:before{
                    background-position:0 -120px;
                }
            }
        }
        .menu2{
            width:135px;

            &:before{
                background-position:-107px 0;
            }

            &.on{
                &:before{
                    background-position:-107px -120px;
                }
            }

        }
        .menu3{

            width:134px;

            &:before{
                background-position:-242px 0;
            }

            &.on{

                &:before{
                    background-position:-242px -120px;
                }
            }


        }
        .menu4{
            width:135px;

            &:before{
                background-position:-376px 0;
            }

            &.on{
                &:before{
                    background-position:-376px -120px;
                }
            }


        }
        .menu5{
            width:176px;

            &:before{
                background-position:-511px 0;
            }

            &.on{
                &:before{
                    background-position:-511px -120px;
                }
            }

        }
        .menu6{
            width:186px;

            &:before{
                background-position:-687px 0;
            }

            &.on{
                &:before{
                    background-position:-687px -120px;
                }
            }


        }
        .menu7{

            width:127px;

            &:before{
                background-position:-873px 0;
            }

            &.on{
                &:before{
                    background-position:-873px -120px;
                }
            }
        }
    }

    .gnb-depth2-container{
        position:absolute;
        width:100%;
        top:55px;
        left:0;
        height:auto;
        background:#fff;
        padding:30px 0;
        border-bottom:1px solid #f36910;
        display:none;

        &.on{
            display:block;
        }
    }

    &-depth2{
        width:1000px;
        margin:0 auto;
        padding-right:45px;
        background:url("../images/main/bg_gnb_submenu1.gif")repeat-y 0 0; /* 사이트 코드확인 */
        text-align:left;

        &:after{
            display:block;
            content:"";
            clear:both;
        }

        & dt{
            font-size:14px;
            font-weight:bold;
            color:#232323;
            padding:0 20px;
            line-height:20px;
            margin-bottom:9px;
        }

        & dd{
            position:relative;
        }

        &-link{
            display:block;
            font-size:12px;
            color:#63686d;
            padding:5px 20px 3px 20px;
            line-height:18px;
            z-index:5;
            position:relative;

            &.on{
                background:#0059a6;
                color:#fff;

                &:hover{
                    color:#fff;
                    text-decoration:none;
                }
            }

            &:hover,&:focus{
                text-decoration:underline;
                color:#F36910;
            }
        }

        .more{
            position:absolute;
            top:0;
            right:0;
            display:inline-block;
            width:28px;
            height:28px;
            background:url("../images/main/bg_gnb_depth_04.png")1px 9px no-repeat;
            z-index:10;
            cursor:pointer;

            &.on{
                background:url("../images/main/bg_gnb_depth_04.png")1px -17px no-repeat;
            }
        }


    }

    .wrap{
        width:20%;
        float:left;

        & > dl{
            margin-top:41px;

            &:nth-child(1){
                margin-top:0;
            }
        }

        .title-link{
            font-size:14px;
            font-weight:bold;
            color:#232323;
            padding:0 20px;
            line-height:20px;
            margin-bottom:9px;
            display:inline-block;
            margin-top:41px;

            &:nth-child(1){
                margin-top:0;
            }

            &:hover,&:focus{
                text-decoration:underline;
            }
        }
    }

    &-depth3{
        position:absolute;
        width:198px;
        border:1px solid #0059a6;
        padding:10px 0;
        background:#fff;
        display:none;
        z-index:30;

        &.on{
            display:block;
        }

        &-link{
            display:block;
            font-size:12px;
            color:#63686d;
            line-height:18px;
            padding:4px 20px 4px 20px;
            position:relative;

            .login-need{
                bottom:7px;
            }

            &:hover,&:focus{
                text-decoration:underline;
                color:#F36910;
            }
        }
    }
}

.sub-inner{
    width:1000px;
    margin:0 auto;

    &:after{
        display:block;
        content:"";
        clear:both;
    }
}

.board-contents{
    padding-top:29px;
    float:left;
    margin-bottom:98px;

    .total{
        font-size:12px;
        color:#555;
        margin-bottom:11px;

        .number{
            font-size:15px;
            color:#0059a6;
            font-weight:bold;
            margin-left:7px;
        }

    }

    .table{
        border:0;
        border-bottom:1px solid #bebebe;
        font-size:12px;
        line-height:14px;

        & th,td{
            color:#444;
            vertical-align:middle;
            padding:14px 0;
        }

        & th{
            background:#f4f4f4;
            border-top:1px solid #000;
        }

        & tr{
            border-top:1px solid #e5e5e5;
        }


        .date{
            text-align:center;
        }

        .heading{
            padding:14px 17px;

            .point{
                color:#004682;
                font-weight:bold;
            }
        }

        .new{

            & img{
                vertical-align:middle;
            }
        }

        .attachment{
            text-align:center;
            font-size:0;
            line-height:0;
        }
    }

    .paging{
        text-align:center;
        padding-top:18px;
        height:17px;

        & ul{
            display:inline-block;
            vertical-align:top;
        }

        & li{
            display:inline-block;

            &:first-child{
                margin-right:5px;
            }

            &:last-child{
                margin-right:5px;
            }


            & a{
                display:inline-block;
                font-size:13px;
                letter-spacing:1px;
                padding:0 5px;
                line-height:15px;

                &.on{
                    background:#004682;
                    color:#fff;
                    font-weight:bold;
                    line-height:17px;
                    height:17px;
                }
            }
        }

        & span{
            display:inline-block;
            font-size:0;

            &:first-child{
                position:relative;
                left:-1px;

                & a{
                    margin-right:4px;
                }
            }
            &:last-child{
                & a{
                    margin-right:4px;
                }
            }
        }
    }
}


.sub-contents{
    width:720px;
    float:right;

    &:after{
        display:block;
        content:"";
        clear:both;
    }
}

.sub-title{
    float:left;
}

.snb-title{
    height:80px;
}

.snb{
    width:200px;
    float:left;

    .title{
        height:80px;
    }

    .depth1{
        width:200px;
        border-left:1px solid #d4d9e0;
        border-right:1px solid #d4d9e0;
        border-bottom:1px solid #d4d9e0;
        box-sizing:border-box;

        &-link{
            display:block;
            font-size:14px;
            color:#555;
            padding:12px 30px 9px 15px;
            line-height:20px;
            cursor:pointer;
            position:relative;

            &:hover,&.on{
                color:#F36910;
            }
        }

        .snb-more{
            position:absolute;
            top:50%;
            right:13px;
            margin-top:-5px;
            width:9px;
            height:9px;
            background:url("../images/sub_1/ico_snb_on.png")right no-repeat;
            cursor:pointer;

            &.on{
                background-position:-200px 0;
            }
        }


    }

    .depth2{
        display:none;
        background:#f7f8fa;
        border-top:1px solid #d4d9e0;
        padding:13px 0 15px 0;

        & a{
            display:block;
            font-size:12px;
            padding:4px 20px;
            line-height:18px;
            background:url("../images/sub_1/ico_snb_on.png")-385px 12px no-repeat;

            &:hover,&:focus,&.on{
                text-decoration:underline;
            }
        }

        &.on{
            display:block;
        }
    }

    .prd-guide{
        margin-top:30px;
        border:1px solid #d4d9e0;

        & a{
            display:block;
            height:100%;
        }

        & li{

            &:nth-child(2){
                & a{
                    border-top:1px solid #d4d9e0;
                }
            }
            &:nth-child(3){
                & a{
                    border-top:1px solid #d4d9e0;
                }
            }
        }

        & img{
            display:block;
        }
    }

    .more-right{
        position:absolute;
        top:50%;
        right:13px;
        width:5px;
        height:9px;
        margin-top:-5px;
        background:url("../images/sub_1/ico_snb_on.png")no-repeat;
        display:none;

        &.on{
            display:block;
        }
    }

}

.hidden-text{
    overflow:hidden;
    position:absolute;
    border:0;
    width:1px;
    height:1px;
    clip:rect(1px, 1px, 1px, 1px);
}

.login-need{
    display:inline-block;
    width:9px;
    height:11px;
    margin-left:5px;
    background:url("../images/main/ico_gnb_loginMU.png")no-repeat;
    position:absolute;
    bottom:6px;
}

.judge{
    font-size:11px;
    color:#888;
    float:right;
    margin-top:9px;
}

.box-notice{
    width:720px;
    box-sizing:border-box;
    border:1px solid #dbdbdb;
    padding:40px;
    margin:35px 0 50px 0;

    &-heading{
        font-size:14px;
        font-weight:bold;
        color:#004682;
        padding-left:20px;
        background:url("../images/sub_1/ico_notice.gif")0 3px no-repeat;
        margin-bottom:12px;
        line-height:20px;
    }

    & li{
        font-size:12px;
        color:#666;
        padding-left:10px;
        margin-bottom:6px;

        line-height:19px;
        background:url("../images/sub_1/ico_list_square.gif")0 6px no-repeat;

        &:last-child{
            margin-bottom:0;
        }
    }
}


.bx-wrapper{
    box-shadow:none;
    border:0;
    background:0;
    position:relative;
    margin-bottom:0;

    .bx-controls-direction{
        position:absolute;
        right:0;
        bottom:0;
        width:112px;
        height:62px;

        & a{
            position:static;
            margin-top:0;
            display:inline-block;
        }

    }

    .bx-prev{
        width:54px;
        height:62px;
        right:58px;
        background:url("../images/main/ico_sldPlay.png")-58px 0 no-repeat;

        &:hover,&:focus{
            background-position:-58px -62px;
        }

        &.on{
            background-position:-58px -62px;
        }
    }

    .bx-next{
        width:58px;
        height:62px;
        background:url("../images/main/ico_sldPlay.png")-112px 0 no-repeat;

        &:hover,&:focus{
            background-position:-112px -62px;
        }

        &.on{
            background-position:-112px -62px;
        }
    }

    .bx-pager.bx-default-pager{
        position:static;
        padding-top:30px;
        height:8px;

        & > div{
            vertical-align:top;

            &:first-child{

                & a{
                    margin-right:5px;
                }
            }
        }

        & a{
            display:block;
            margin:0;
            width:8px;
            height:8px;
            background:url("../images/main/ico_sldDot.png")no-repeat;

            &.active{
                width:40px;
                background:#383e4e url("../images/main/ico_sldDot.png")-10px 0 no-repeat;
            }
        }
    }
}

.select-box-wrap{
    float:left;
    width:100%;
    position:relative;
    padding-bottom:41px;

    &:after{
        display:block;
        content:"";
        clear:both;
    }
}

.select-box{
    width:100%;
    float:left;
    border-top:1px solid #000;
    border-bottom:1px solid #bebebe;
    background:#f9f9f9;
    padding:10px 15px;
    box-sizing:border-box;

    &-table{
        border:0;
        border-collapse:inherit;
        width:100%;
        text-align:left;
        border-spacing:0;

        .title{
            vertical-align:middle;
            color:#000;
            width:114px;
            padding-top:4px;
        }

        .info{
            padding:5px 0;

            &:after{
                display:block;
                content:"";
                clear:both;
            }

            & input{
                height:27px;
                padding:0;
                border:1px solid #ccc;
                box-sizing:border-box;
                vertical-align:top;
            }

        }
    }

    .checkbox-wrap{
        display:inline-block;
        margin:0 10px 0 1px;
        height:20px;

        .checkbox{
            width:15px;
            height:15px;
            margin:0;
        }

        & label{
            line-height:18px;
            font-size:12px;
            color:#737373;
            font-weight:bold;
            vertical-align:top;
            margin-top:1px;
            display:inline-block;
        }
    }

    .date-select{
        width:110px;
        height:27px;
        margin:0 1px 0 0;
        border:1px solid #ccc;
        color:#333;
        font-size:12px;
        font-weight:bold;
        font-family:'Dotum', sans-serif;
        padding:0 9px 0 6px;
        letter-spacing:-0.5px;
        background:url("../images/sub_notice/selectr_bg_right.png")calc(100% - -1px) -1px no-repeat;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .date-wrap{
        float:left;
        position:relative;

        .date-year{
            width:70px;
        }
        .date-month{
            width:55px;
        }
        .date-day{
            width:55px;
        }
        .calendar-link{
            display:inline-block;
            height:100%;
            vertical-align:middle;
            padding-bottom:1px;

            & img{
                display:block;
            }
        }

        @import "datepicker";

    }
    .icon{
        float:left;
        font-weight:bold;
        padding:9px 4px 0 4px;
    }

    .search-text{
        width:315px;
    }

    .date-btn{
        margin-top:7px;
        width:100%;
        float:left;

        & li{
            display:inline-block;

            &:nth-child(2){

                & a{
                    letter-spacing:-1.2px;
                    padding:7px 13px 6px 12px;
                }
            }
            &:nth-child(3){
                & a{
                    letter-spacing:-1.3px;
                    padding:7px 13px 6px 12px;
                }
            }
        }

        & a{
            display:inline-block;
            padding:7px 13px 6px 14px;
            background:#fff;
            border:1px solid #ccc;
            box-sizing:border-box;
            font-size:12px;
            letter-spacing:-1px;
            vertical-align:middle;

        }
    }

}

.search-btn{
    position:absolute;
    bottom:0;
    right:0;
    height:31px;

    & button{
        width:89px;
        height:31px;
        padding:0;
        border:0;
        margin:0;
        background:url('../images/sub_notice/bt_search.gif')no-repeat;
    }
}

.scroll-active{
    transform:translateY(20px);
    opacity:0;
    transition:.8s cubic-bezier(0.500, 0, 0.335, 1);

    &.on{
        transform:translateY(0);
        opacity:1;
    }
}

.footer-main{
    border-top:1px solid #d4d9e0;
    position:relative;
    min-width:1280px;
}

.footer-inner{
    width:1000px;
    margin:0 auto;
}

.footer-info-wrap{
    height:77px;
    border-bottom:1px solid #d4d9e0;
    box-sizing:border-box;
    padding-top:20px;

    &:after{
        display:block;
        content:"";
        clear:both;
    }

    .footer-info{
        width:595px;
        float:left;
        margin-top:10px;

        & > ul{

            &:after{
                display:block;
                content:"";
                clear:both;
            }
        }

        & li{
            float:left;
            font-size:0;
            margin-left:52px;

            &:first-child{
                margin-left:0;
            }

            &:last-child{
                margin-top:1px;
            }

            & > a{
                display:block;
                width:100%;
                height:100%;
            }
        }
    }

    .footer-sns{
        float:left;
        margin-left:70px;

        & > ul{
            width:102px;

            &:after{
                display:block;
                content:"";
                clear:both;
            }
        }

        & li{
            float:left;
            width:30px;
            height:30px;
            margin-right:6px;

            &:last-child{
                margin-right:0;
            }

            & > a{
                display:block;
                position:relative;
                width:100%;
                height:100%;
                text-align:center;

                &:before{
                    display:block;
                    content:"";
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    background:url('../images/main/ico_footer_sns.gif')no-repeat;
                }

            }

            .snsLink1{
                &:before{
                    background-position:11px 7px;
                }
            }
            .snsLink2{

                &:before{
                    background-position:-21px 7px;
                }
            }
            .snsLink3{
                &:before{
                    background-position:-54px 7px;
                }
            }
        }
    }



}

.footer-select-box{
    width:193px;
    height:28px;
    float:right;
    cursor:pointer;
    margin-top:3px;
}

.select-contents{
    position:absolute;
    bottom:175px;
    width:1000px;
    height:auto;
    background:#fff;
    border:1px solid #b2b6bc;
    box-sizing:border-box;
    padding:24px 0;
    display:none;

    &.on{
        display:block;
    }

    &:after{
        display:block;
        content:"";
        clear:both;
    }

    .ko-wrap{
        width:198px;
        padding:0 24px;
        float:left;
        border-right:1px solid #e9ecef;

        & dd{
            line-height:20px;
            margin-bottom:5px;

            &:last-child{
                margin-bottom:0;
            }
        }

        & a{
            font-size:12px;
            color:#666;
        }
    }

    .global-wrap{
        float:left;
        width:703px;
        padding:0 24px;

        &:after{
            display:block;
            content:"";
            clear:both;
        }


        & dd{
            width:33.3334%;
            float:left;

        }


        & li{
            line-height:20px;
            margin-bottom:5px;

            &:last-child{
                margin-bottom:0;
            }
        }

        & a{
            font-size:12px;
            color:#666;

            &:hover,&:focus{
                text-decoration:underline;
            }
        }
    }

    & dt{
        padding-bottom:10px;
        border-bottom:1px solid #c3c3c3;
        font-weight:bold;
        color:#333;
        font-size:13px;
        margin-bottom:14px;
        letter-spacing:-1px;
        line-height:20px;
    }

    .select-contents-close{
        position:absolute;
        top:0;
        right:1px;
        width:30px;
        height:30px;

        & > button{
            width:30px;
            height:30px;
            position:relative;
            background:0;
            border:0;
            padding:0;
            cursor:pointer;

            &:after{
                display:block;
                content:"";
                position:absolute;
                width:100%;
                height:100%;
                top:0;
                left:0;
                background:url('../images/main/btn_footer_close.gif')50% no-repeat;
            }
        }
    }

}

.footer-quick-wrap{
    height:150px;
    padding-top:20px;
    box-sizing:border-box;
    position:relative;

    &:after{
        display:block;
        content:"";
        clear:both;
    }

    .footer-logo{
        float:left;
        font-size:0;
    }

    .footer-nav{
        width:757px;
        float:left;
        margin:21px 0 0 37px;

        &-top{
            margin-bottom:22px;

            & > li{
                margin-right:24px;

                &:last-child{
                    margin-right:0;
                }
            }
        }

        &-bottom{
            margin-bottom:20px;

            & > li{
                padding-right:20px;
                margin-right:14px;
                position:relative;

                &:after{
                    display:block;
                    content:"";
                    position:absolute;
                    top:0;
                    right:0;
                    width:1px;
                    height:10px;
                    background:#dbdbdb;
                }

                &:last-child{
                    margin-right:0;
                    padding-right:0;
                    &:after{
                        display:none;
                    }
                }
            }

        }

        & > ul{

            &:after{
                display:block;
                content:"";
                clear:both;
            }
        }

        & li{
            float:left;
        }

        &-link{
            font-size:12px;
            color:#111;
            letter-spacing:-1px;

            &.em{
                color:#0059a6;
                font-weight:bold;
            }

            &:hover,&:focus{
                text-decoration:underline;
            }
        }
    }

    .img-mark{
        width:53px;
        height:39px;
        font-size:0;
        position:absolute;
        bottom:74px;
        right:0;

        & > a{
            display:block;
            height:100%;
        }
    }

    .copy{
        font-size:10px;
        letter-spacing:1px;
        font-family:'tahoma',sans-serif;
        color:#666;
        float:left;
        margin-left:150px;
    }
}

/* footer-notice*/

.footer-notice{

    .footer-nav{
        margin:18px 0 0 37px;

        &-top{
            margin-bottom:16px;
        }

        &-bottom{
            margin-bottom:13px;
        }
    }

    .footer-info-wrap{
        height:74px;

        .footer-info{
            margin-top:7px;
        }
    }
}

