.section-robopot{
    width:1000px;
    margin:0 auto;
    min-width:1000px;

    .main-contents{
        padding-top:37px;
        &:after{
            display:block;
            content:"";
            clear:both;
        }

    }
}

.snb-robopot{

    .title{
        background:url("../images/sub_robopot/lnb_title_0000001189.gif")no-repeat;
    }

}

.robopot-title{
    width:146px;
    height:28px;
    background:url("../images/sub_robopot/tit_h1_hkr1004n01.gif")no-repeat;
}

.robopot-wrap{
    float:left;
    margin-bottom:40px;
    position:relative;

    .title-wrap{
        background:url("../images/sub_robopot/visual_hkr1002r10.png")no-repeat;
        height:308px;
        color:#202020;
        font-family:"Noto Sans KR",sans-serif;
        margin-top:30px;

        & h4{
            font-size:32px;
            padding-top:10px;

            & span{
                color:#0059a6;
            }
        }

        & p{
            line-height:21px;
            font-size:14px;
            letter-spacing:0.2px;
            padding-top:17px;
            padding-left:4px;
        }

        .list-title{
            display:inline-block;
            padding-left:12px;
            font-size:13px;
            margin:25px 0 12px 0;
            background:url("../images/sub_robopot/point.png")2px 3px no-repeat;
        }

        & li{
            font-size:13px;
            line-height:20px;
            position:relative;
            padding-left:13px;
            letter-spacing:-0.8px;
            color:#828282;

            &:before{
                display:block;
                content:"";
                position:absolute;
                top:9px;
                left:2px;
                width:7px;
                height:2px;
                background:#aeaeae;
            }

        }
    }

    & img{
        display:block;
    }

    .robopot-info{
        margin-bottom:10px;

        & dl{
            margin-top:40px;
        }

        & dt{
            color:#222;
            font-size:17px;
            font-weight:bold;
            letter-spacing:-1px;
            line-height:1.2;
            margin-bottom:17px;
        }

        & p{
            line-height:1.7;
        }
    }

    .box-notice{
        margin-top:40px;
    }



}

