.sub-header{

    .util-wrap{
        .inner-box{
            width:1000px;
        }
    }
}

.section-notice{
    width:1000px;
    margin:0 auto;
    min-width:1000px;

    .main-contents{
        padding-top:37px;

        &:after{
            display:block;
            content:"";
            clear:both;
        }
    }

    .snb-notice{

        .title{
            background:url("../images/sub_notice/lnb_title_0000000500.gif")no-repeat;
        }

        .depth1-link{
            position:relative;
            padding:10px 30px 7px 15px;
        }
    }

    .notice-title{
        width:107px;
        height:30px;
        background:url("../images/sub_notice/bbs_title_0000000501.gif")no-repeat;
        margin-bottom:30px;
    }
}
