.detail{
    float:left;
    width:100%;
    border-top:1px solid #000;
    font-family:'MalgunGothic',sans-serif;
    margin-bottom:80px;

    &-title{
        font-size:18px;
        padding:19px 20px;
        color:#222;
        font-weight:bold;
    }

    &-date{
        border-top:1px solid #e5e5e5;
        border-bottom:1px solid #e5e5e5;

        &:after{
            display:block;
            content:"";
            clear:both;
        }

        & span{
            display:block;
            float:left;
        }

        &-title{
            width:150px;
            background:#f4f4f4;
            text-align:center;
            padding:16px 0;
            color:#000;
        }

        &-number{
            width:570px;
            padding:16px 17px;
            box-sizing:border-box;
        }
    }

    &-contents{
        padding:14px 10px 27px 20px;
        float:left;
        width:100%;
        box-sizing:border-box;
        border-bottom:1px solid #bebebe;
        margin-bottom:20px;

        .strong{
            font-weight:bold;
        }
    }

    .contents-top{
        margin-bottom:41px;
        & dt{
            font-size:30px;
            font-weight:bold;
            line-height:1.35;
            color:#000;

            .title-point{
                color:#0059a6;
            }
        }

        & dd{
            font-size:15px;
            margin-top:30px;
            line-height:1.7;

        }

        .info-point{
            color:#f58220;
            border-left:4px solid #f58220;
            font-size:16px;
            padding-left:15px;
            line-height:1.6;
        }
    }

    .contents-info{
        margin-bottom:51px;

        &.info-date{
            margin-bottom:46px;
        }

        & dt{
            font-size:20px;
            color:#000;
            padding-bottom:16px;
            position:relative;

            &:after{
                display:block;
                content:"";
                position:absolute;
                left:0;
                bottom:0;
                width:25px;
                height:1px;
                background:#ddd;
            }
        }

        & dd{
            font-size:13px;
            color:#777;
            padding-top:14px;
        }

        .info-table{
            margin-top:6px;

            & table{
                width:100%;
                text-align:center;
                border:0;
                color:#444;

                & th,td{
                    padding:10px 0;
                    line-height:22px;
                    vertical-align:middle;
                    border-left:1px solid #d0d6dc;
                }

                & td{
                    border-bottom:1px solid #d0d6dc;
                }

                & tr{

                    & th,td{
                        &:first-child{
                            border-left:0;
                        }
                    }

                    &:last-child{

                        & td{
                            border-bottom:0;
                        }
                    }
                }

                & thead{


                    & th{
                        color:#212121;
                        background:#f2f2f2;
                        font-weight:bold;
                        font-size:13px;
                        border-top:1px solid #5e5e5e;
                        border-bottom:1px solid #a2a2a2;
                    }
                }

                & tbody{
                    border-bottom:1px solid #a2a2a2;
                }

                .point-red{
                    color:#ff0000;
                }
                .point-blue{
                    color:#0059a6;
                }
                .point-skyblue{
                    background:#c8daf5;
                }
            }

        }
    }

    &-list{
        float:left;
        width:100%;
        padding-top:46px;
        position:relative;

        &:after{
            display:block;
            content:"";
            clear:both;
        }

        & li{
            padding:15px 0 12px 0;
            border-bottom:1px solid #e5e5e5;
            line-height:16px;

            &:last-child{
                border-bottom:0;
                padding-bottom:0;
            }
        }

        &-link{
            display:inline-block;
            font-size:12px;
            color:#666;
            font-weight:bold;
            padding-left:17px;

            &:hover,&:focus{
                text-decoration:underline;
            }

        }

        & span{
            float:right;
        }

        &-btn{
            font-size:0;
            position:absolute;
            top:0;
            right:0;

            & a{
                display:inline-block;
                height:100%;
            }
        }
    }

}