.sub-header{
    .inner-box{
        width:1000px;
    }
}

.section-info{
    min-width:1000px;

    .sub-visual-info{
        height:494px;
        background:url("../images/sub_info_main/bg_submain_guide.jpg")no-repeat center;
        background-size:cover;
        padding:50px 0;
        box-sizing:border-box;


        .info-title{
            margin:10px 0 0 30px;

            & img{
                display:block;
            }
        }

        .info-menu{
            margin-top:20px;
            float:left;

            &:after{
                display:block;
                content:"";
                clear:both;
            }

            & dl{
                width:333px;
                height:240px;
                float:left;
                position:relative;

                &:nth-child(2){
                    margin-right:1px;
                }

                &:hover{
                    transition:all .3s ease-out;
                }

            }

            & dd{
                position:absolute;
                left:30px;
                bottom:30px;
                right:0;
            }

            & li{
                margin-top:16px;

                & a{
                    display:block;
                    height:100%;
                    color:#666;
                    font-size:15px;
                    font-weight:400;
                    letter-spacing:-0.5px;
                    font-family: 'Noto Sans KR', sans-serif;
                    position:relative;

                    .more-bar{
                        position:absolute;
                        top:50%;
                        right:0;
                        width:10px;
                        height:2px;
                        margin-top:-1px;
                        background:url("../images/sub_info_main/tabMenu_bar_off.png")repeat-x 0 0;
                        opacity:0;

                    }
                }
            }

            .info1{
                background:url("../images/sub_info_main/tit_hki3059_menu1_off.png")no-repeat;

                &:hover,&:focus{
                    background:url("../images/sub_info_main/tit_hki3059_menu1_on.png")no-repeat;

                    & a{
                        opacity:0.3;
                        color:#fff;

                        .more-bar{
                            opacity:1;
                            background:#fff;
                        }

                        &:hover,&:focus{
                            opacity:1;

                            .more-bar{
                                width:30px;
                                transition:all .2s ease-out;
                            }
                        }
                    }
                }

            }
            .info2{
                background:url("../images/sub_info_main/tit_hki3059_menu2_off.png")no-repeat;
                &:hover,&:focus{
                    background:url("../images/sub_info_main/tit_hki3059_menu2_on.png")no-repeat;

                    & a{
                        opacity:0.3;
                        color:#fff;

                        .more-bar{
                            opacity:1;
                            background:#fff;
                        }

                        &:hover,&:focus{
                            opacity:1;

                            .more-bar{
                                width:30px;
                                transition:all .2s ease-out;
                            }
                        }
                    }
                }

            }
            .info3{
                background:url("../images/sub_info_main/tit_hki3059_menu3_off.png")no-repeat;
                &:hover,&:focus{
                    background:url("../images/sub_info_main/tit_hki3059_menu3_on.png")no-repeat;

                    & a{
                        opacity:0.3;
                        color:#fff;

                        .more-bar{
                            opacity:1;
                            background:#fff;
                        }

                        &:hover,&:focus{
                            opacity:1;

                            .more-bar{
                                width:30px;
                                transition:all .2s ease-out;
                            }
                        }
                    }
                }
            }
        }

        .info-search{
            width:100%;
            height:70px;
            background:#383d48;
            margin-top:19px;
            float:left;

            &:after{
                display:block;
                content:"";
                clear:both;
            }

            &-left{
                width:93%;
                height:100%;
                float:left;
                padding:19px 18px 19px 28px;
                box-sizing:border-box;
                position:relative;

                &:after{
                    display:block;
                    content:"";
                    clear:both;
                }

                & label{
                    color:#fff;
                    font-size:15px;
                    font-weight:bold;
                    letter-spacing:-1px;
                    font-family:'Dotum',sans-serif;
                    position:absolute;
                    top:28px;
                    left:34px;
                    cursor:pointer;
                }
            }

            &-right{
                width:7%;
                height:100%;
                float:right;
            }

            &-box{
                background:#383d48;
                border:0;
                width:460px;
                height:32px;
                padding:0 0 0 6px;
                box-sizing:border-box;
                color:#fff;
                font-size:15px;
            }

            &-menu{
                float:right;

                &:after{
                    display:block;
                    content:"";
                    clear:both;
                }

                & > li{
                    float:left;
                    margin:0 2px;

                    & > a{
                        display:block;
                        font-size:12px;
                        color:#fff;
                        padding:9px 11px;
                        border:1px solid #74787f;

                        &:hover{
                            background:#F36910;
                            border-color:#F36910;
                        }
                    }
                }
            }

            &-btn{
                border:0;
                padding:0;
                width:100%;
                height:70px;
                background:#f36910 url("../images/sub_info_main/ico_search.png")50% no-repeat;
                cursor:pointer;
            }
        }


    }

    .question{
        padding:50px 0;
        background:#f4f5f8;

        .sub-inner{
            &:after{
                display:block;
                content:"";
                clear:both;
            }
        }

        &-title{
            float:left;
            width:250px;
            height:96px;
            background:#383d48 url("../images/sub_info_main/btn_guide1_on.png")30px 30px no-repeat;
            position:relative;

            &:after{
                display:block;
                content:"";
                position:absolute;
                top:38px;
                right:0;
                width:30px;
                height:2px;
                background:#F36910 url("../images/sub_info_main/tabMenu_bar_on.png")no-repeat;
            }
        }

        &-contents{
            float:left;
            width:750px;
            background:#fff;
            padding:25px 50px;
            box-sizing:border-box;

            & > ul > li{
                border-top:1px solid #e3e3e3;

                &:first-child{
                    border-top:0;
                }
            }

            &-link{
                display:block;
                font-size:15px;
                line-height:20px;
                letter-spacing:-1px;
                color:#888;
                font-weight:bold;
                padding:25px 0;
                position:relative;

                .q-ico{
                    margin-right:15px;
                }

                .more-bar{
                    position:absolute;
                    width:10px;
                    height:2px;
                    top:50%;
                    right:0;
                    margin-top:-4px;
                    background:url("../images/sub_info_main/tabMenu_bar_off.png")no-repeat;
                }

                &:hover,&.on{
                    color:#f36910;

                    .more-bar{
                        width:30px;
                        background:url("../images/sub_info_main/tabMenu_bar_on.png")no-repeat;
                        transition:all .2s ease-out;
                    }
                }
            }

            .answer{
                padding:25px 25px 25px 55px;
                background:#f4f5f8;
                position:relative;
                font-size:12px;
                color:#666;
                border-top:1px solid #e3e3e3;
                display:none;

                &.on{
                    display:block;
                }

                &-title{
                    color:#222;
                    line-height:20px;
                    margin-bottom:10px;

                    .answer-ico{
                        font-size:15px;
                        font-weight:bold;
                        position:absolute;
                        top:25px;
                        left:25px;
                        color:#222;
                    }
                }

                & li{
                    padding-left:7px;
                    background:url("../images/sub_info_main/ico_list_square2.gif")0 6px no-repeat;
                    line-height:19px;
                    margin-bottom:6px;

                    .answer-link-btn{
                        display:inline-block;
                        box-sizing:border-box;
                        height:22px;
                        border:1px solid #bbb;
                        background:#fff;
                        padding:0 7px;
                        font-size:11px;
                        line-height:22px;
                        letter-spacing:-1px;
                    }

                    &:last-child{
                        margin-bottom:0;
                    }

                    &.reference{
                        margin:5px 0 10px 10px;
                        padding-left:15px;
                        background:url("../images/sub_info_main/ico_point.gif")0px 0px no-repeat;
                    }

                    &.answer-link-wrap{
                        background:none;
                        padding:0;
                    }

                    .list-bar{
                        padding-left:12px;
                        background:url("../images/sub_info_main/ico_list_bar.gif")0 8px no-repeat;
                        margin-top:9px;
                        line-height:18px;
                    }
                }


            }
        }
    }

    .service-center{
        padding:50px 0;
        background:#fff;

        .service-menu{


            & > ul > li{
                height:88px;
                border-top:1px solid #e3e3e3;
                border-bottom:1px solid #e3e3e3;
                margin-top:-1px;

                &:first-child{
                    margin-top:0;
                }

                &:hover{
                    border-top:1px solid #222;
                    border-bottom:1px solid #222;
                    z-index:1;
                    position:relative;
                }

                &:after{
                    display:block;
                    content:"";
                    clear:both;
                }

                .sub-list{
                    float:left;
                    margin:34px 0 0 348px;

                    &:after{
                        display:block;
                        content:"";
                        clear:both;
                    }

                    & > li{
                        float:left;
                        margin-left:48px;

                        &:first-child{
                            margin-left:0;
                        }

                        & a{
                            display:block;
                            height:100%;

                            & img{
                                display:block;
                            }
                        }
                    }
                }
            }

            .menu1{
                background:url("../images/sub_info_main/guide_menu1_default.gif")no-repeat;

                &:hover{
                    background:url("../images/sub_info_main/guide_menu1_on.gif")no-repeat;
                    transition:all .3s ease-out;
                    -webkit-transition:all .3s ease-out;
                }

            }
            .menu2{
                background:url("../images/sub_info_main/guide_menu2_default.gif")no-repeat;

                &:hover{
                    background:url("../images/sub_info_main/guide_menu2_on.gif")no-repeat;
                    transition:all .3s ease-out;
                    -webkit-transition:all .3s ease-out;
                }
            }
            .menu3{
                background:url("../images/sub_info_main/guide_menu3_default.gif")no-repeat;

                &:hover{
                    background:url("../images/sub_info_main/guide_menu3_on.gif")no-repeat;
                    transition:all .3s ease-out;
                    -webkit-transition:all .3s ease-out;
                }
            }

        }

        .call{
            margin-top:50px;

            &-img{

                & img{
                    display:block;
                }
            }

            &-contents{
                margin-top:10px;
                background:url("../images/sub_info_main/txt_guide_info_bg.gif")no-repeat;

                &:after{
                    display:block;
                    content:"";
                    clear:both;
                }

                &-left{
                    width:50%;
                    float:left;
                    padding:0 30px;
                    box-sizing:border-box;
                }

                &-right{
                    width:50%;
                    float:left;
                    padding-left:60px;
                    box-sizing:border-box;
                }

                &-list{
                    width:410px;
                    height:96px;
                    padding:40px 0;
                    border-bottom:1px solid #e3e3e3;

                    & dt{
                        margin-bottom:20px;

                        & img{
                            display:block;
                        }
                    }

                    &.list-height{
                        height:120px;
                    }

                }

                &-wrap{

                    & li{
                        line-height:20px;
                        color:#888;

                        & span{
                            margin-right:20px;
                            color:#000;
                        }
                    }
                }

            }
        }
    }

    .service-banner{
        padding:50px 0;
        background:#f4f5f8;

        & ul{
            &:after{
                display:block;
                content:"";
                clear:both;
            }
        }

        &-list{
            width:50%;
            height:180px;
            float:left;
            position:relative;

            & > a{
                display:block;
                height:100%;
                z-index:5;


                //오른쪽 이미지 안맞는이유가 첫번째 이미지 500px / 2번째이미지 499px, 이라 동일하게 하기위해 width 100% 주었음//
                & img{
                    display:block;
                    width:100%;
                }
            }

            .banner-more{
                position:absolute;
                bottom:0;
                right:0;
                width:60px;
                height:60px;
                background:url("../images/sub_info_main/ico_benner_more.gif")no-repeat;
                opacity:0;
                cursor:pointer;
                transition:all .3s ease-out;
                -webkit-transition:all .3s ease-out;
            }

            &:hover{
                .banner-more{
                    opacity:1;
                }
            }
        }
    }

    .user-guide{
        padding:50px 0;
        background:#fff;

        .title{
            float:left;
        }

        &-menu{
            float:right;

            & > ul{

                &:after{
                    display:block;
                    content:"";
                    clear:both;
                }
            }

            & li{
                float:left;
                width:125.25px;
                text-align:center;
                font-size:0;

                & > a{
                    display:block;
                    width:100%;
                    height:100%;

                }
            }

        }
    }

}